body {
    background-color: #fff;
     
}
.bannerc {
    background-image: url("../img/123.jpg ");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}
.banner img {
	margin-top: 8%;
	margin-left: 40%;
	bottom: 160px;
    border-radius: 50%;
	border: solid 10px rgba(255,255,255,0.5);
	width: 20%;
}
#banner h2 {
    padding: 5px 10px;
    margin: auto;
	background-color: grey;
	display: inline;
}   
.nav {
    width: 100%;
    height: 100px;
    padding: 1% 0px;
    background-color: #29b6f6;
    text-align: right;
}
.nav h2 {
    font-family: Garamond,Times,Serif;
    float: left;
	color: #fff;
    font-size: 5em;
    margin: 20px;
}
.nav li {
	color:#ffffff;
    font: left;
    font-size: 25px;
    padding: 5px;
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}
.nav a {
	color: #ffffff;
	text-decoration: none;
	
} 
.intro img {
    display: block;
    margin: 0px auto;
    border-radius: 300%;
	border: solid 10px rgba(0,0,0,0.5);
	width: 50%;
	
}
.intro h1 {
    text-align: center;
    font-size: 60px;
    color:#1a03af;
  
}
.intro h3 {
    text-align: center;
    font-size: 35px;
    color:000;
}
.aboutc {
	background-color: #BBDEFB;
	padding: 10px 0px 10px 0px;
	
}
.about {
	width: 75%;
	margin: auto;
    font-family: Spirax,Times,Serif;
    color: #e51923;
    padding: 10px 0px 10px 0px;
    font-size: 25px;
    line-height: 2.0em;
    word-spacing: 0.30;  
    font-style: italic;
    letter-spacing: 1.5;
    font-weight: bold;
	
  }
 a:link, a:visited{
	color: #686868;
    text-decoration: none;	
}
.about h1 {
	
	text-align: center;
    color: #ef0414;
    font-family: broadway,times,serif;
    font-size: 60px;
	
} 
.skillc { 
     background-color:azure;
	 padding: 10px 0px 10px 0px;
}
.skills {
	
	margin:auto;
	width:75%;
}
.skills h1 {
    
    color: #ef0414;
    font-family: broadway,times,serif;
    font-size: 60px;

}
.skills ol li {
  
    color:#8012c9;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
	margin: auto;
    
}
.skills ul li {
    list-style-type: disc;
    color: #e206c5;
    font-size: 20px;
    
}
.socialc {
	background-color: #f0f939;
	padding: 10px 0px 10px 0px;
	
}
.social h1{
    font-size: 60px;
    font-family: broadway,times,serif;
    color: #ef0414; 
}
.social h2{
    font-size: 45px;
    font-family: blackadder ITC;
    color: #8012c9;
}
.social a {
    font-size: 30px;
	padding: 5%;
    color:#32a8f2

}
.qualificationc {
	background-color: azure;
	padding: 10px 0px 10px 0px;
}
.qualification h3 {
    font-size:60px;
    font-family:broadway,times,serif;
    color: #ef0414;
	
}   
 .qualification h4 {
    font-size: 45px;
    font-family: blackadder ITC;
    color: #8012c9;
}  
.qualification table {
    font-size:20px;
    color: 000;
    width: 800px;
    height: 300px;
    border-color: 000;
}
.footerc {
	background-color: #f0f939;
	padding: 10px 0px 10px 0px;
}   width: ;
.footer {
    
    text-align:left;
}
.footer a {
    color:#32a8f2;
}
.footer h5 {
    color:000;
	font-size: 35px;
	text-align: center;
}
.footer h1 {
    font-size: 50px;
    font-family: bradley hand ITC;
    color: #e206c5;
    text-align: center; 
}